@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl;
  }

  @media (max-width: 1024px) {
    h1 {
      @apply text-xl;
    }
  }
  h2 {
    @apply text-2xl;
  }
}
body {
  display: flex;
  box-sizing: border-box;
  background-color: black;
  color: white;
  margin: 2rem;
  padding: 0;
}
@layer components {
  .slide-right {
    -webkit-animation: slide-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: slide-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  @-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(20px);
      transform: translateX(20px);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(20px);
      transform: translateX(20px);
    }
  }

  .flexSmall {
    /* display: block; */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 20%;
    align-self: auto;
    order: 0;
  }
  .flexBig {
    /* display: block; */
    flex-grow: 2;
    flex-shrink: 2;
    flex-basis: 80%;
    align-self: auto;
    order: 0;
  }

  .list::before {
    content: '-';
    margin-right: 10px;
  }
  .list-line-feed {
    text-indent: -18px;
    padding-left: 18px;
    margin-bottom: 0.5rem;
  }

  /* .progress {
    height: 3px;
    width: 0%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    animation: progress 1s linear;
  }
  @keyframes progress {
    to {
      background-color: rgb(20, 255, 226);
      width: 100%;
    }
  } */

  .sectionStyle {
    /* @apply flex flex-col justify-center min-h-screen p-10 border-b border-gray-700;*/
    /* @apply p-10 border-b border-gray-700; */

    /* display: flex;
    flex-direction: column; */
    padding: 2.5rem;
    /* justify-content: center;
    align-items: center; */
    /* scroll-snap-align: center; */
    height: 100vh;
    width: 100%;
    position: relative;
  }
  .scrollContainer {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    scroll-snap-type: y mandatory;
    /* height: 100vh; */
    /* width: 100%; */
    /* position: relative; */
  }
}
