@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }
}
body {
  box-sizing: border-box;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}
@layer components {
  .slide-right {
    -webkit-animation: slide-right 0.5s
      cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  @-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(20px);
      transform: translateX(20px);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(20px);
      transform: translateX(20px);
    }
  }

  .flexSmall {
    /* display: block; */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 20%;
    align-self: auto;
    order: 0;
  }
  .flexBig {
    /* display: block; */
    flex-grow: 2;
    flex-shrink: 2;
    flex-basis: 80%;
    align-self: auto;
    order: 0;
  }

  .list::before {
    content: '-';
    margin-right: 10px;
  }
  .list-line-feed {
    text-indent: -18px;
    padding-left: 18px;
    margin-bottom: 0.5rem;
  }

  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInUp {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

  .progress {
    height: 3px;
    width: 0%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    animation: progress 1s linear;
  }
  @keyframes progress {
    to {
      background-color: rgb(20, 255, 226);
      width: 100%;
    }
  }

  .sectionStyle {
    @apply flex flex-col justify-center min-h-screen self-center col-span-1 sm:col-span-1 pb-20;
  }
}
